<div class="center">
        <button id="show-login">Login</button>
        <button id="show-register">Register</button>
    </div>
    <form class="popup" method="post" action="/dang-nhap"> {{!-- action="/login" trùng router.post('/login',....--}} {{! nếu method = get ==> chạy router.post('/login',....}}
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>Login</h2>
            <div class="form-element">
                <label for="username">Email</label>
                <input type="text" id="username" placeholder="Enter Username" name="username">
            </div>
            <div class="form-element">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter Password" name="password">
            </div>
            <div class="form-element">
                <input type="checkbox" id="remeber-me">
                <label for="remeber-me">Remember me</label>
            </div>
            <div class="form-element">
                <button type="submit">Submit</button>
            </div>
            <div class="form-element">
                <a class="forgot" href="#">Forgot password</a>
            </div>
        </div>
    </form>
    <form class="popup2" method="post" action="/register">
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>Register</h2>
            <div class="form-element">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Enter Username">
            </div>
            <div class="form-element">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Enter Email">
            </div>
            <div class="form-element">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter Password">
            </div>
            <div class="form-element">
                <label for="password">Confirm Password</label>
                <input type="password" id="confirm-password" placeholder="Confirm Password">
            </div>
            <div class="form-element">
                <input type="checkbox" id="remeber-me">
                <label for="remeber-me">Remember me</label>
            </div>
            <div class="form-element">
                <button type="submit">Create account</button>
            </div>
        </div>
    </form>